# Configuración de Base de Datos
DATABASE_URL=postgresql+asyncpg://usuario:password@localhost:5432/nombre_db

# Seguridad
SECRET_KEY=cambiame_por_una_clave_larga_y_segura

# AI (Groq)
GROQ_API_KEY=tu_api_key_de_groq_aqui

# Google Auth
GOOGLE_CLIENT_ID=tu_cliente_id_de_google_aqui

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000,http://127.0.0.1:8000,http://127.0.0.1:3000,http://localhost,http://127.0.0.1
